{% extends 'registration/base_registration.html' %}

{% block title %} Login {% endblock title %}

{% block formAction %} action="{% url 'login' %}" {% endblock formAction %}
{% block content %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
        {{ form.username }}
    </div>
    <br>
    <div class="form-floating">
        {{ form.password }}
    </div>
{% endblock content %}
{% block button %}
    <input class="btn btn-primary" type="submit" value="Sign in"/>
{% endblock button %}
