{% extends 'registration/base_registration.html' %}

{% block title %} Registration {% endblock title %}

{% block formAction %} action="{% url 'registration' %}" {% endblock formAction %}
{% block content %}
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-floating">
        {{ form.username }}
    </div>
    <br>
    <div class="form-floating">
        {{ form.password1 }}
    </div>
    <div class="form-floating">
        {{ form.password2 }}
    </div>
{% endblock content %}
{% block button %}
    <input class="btn btn-primary" type="submit" value="Sign up"/>
{% endblock button %}