{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% if articles %}
            <div class="col"><br>
                <h2><strong>All articles by {{ articles_owner }}</strong></h2>
            </div>
        {% endif %}
        <div class="col"><br>
            <div class="text-right">
                {% if user.is_authenticated %}
                    {% if user.get_username == articles_owner %}
                        <a href="{% url 'newArticle' %}" class="btn btn-primary">New article</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if articles %}
        <main>
            <div class="album">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                        {% for article in articles %}
                            <div class="col">
                                <div class="card h-100" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>{{ article.title }}</strong></h5>
                                        <p class="card-text">{{ article.text|truncatechars:400 }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{% url 'articleDetail' article.pk %}" class="btn btn-primary">View
                                            article</a>
                                        {% if user.is_authenticated %}
                                            {% if user.get_username == articles_owner %}
                                                <a href="{% url 'articleEdit' article.pk %}" class="btn btn-primary">Edit</a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock content %}